@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: url(../images/bg-main-desktop.png) no-repeat;
    font-family: 'Space Grotesk', sans-serif;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}


.cards{
    height: 70%;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.front{
    border-top: 10vh;
    width: 100%;
    height: 100%;
    color: hsl(0, 0%, 100%);
    background: url('../images/bg-card-front.png') no-repeat;
    background-size: contain;
    padding-left: 1.5%;
    margin-left: 12.5vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.logo{
    height: 45px;
    width: 80px;
    margin-left: 15px;
}

.num{
    margin-top: 3%;
    margin-left: 2.5%;
    width: 100%;
    font-size: 1.5em;
    letter-spacing: 2px;
    word-spacing: 10px;
}

.info{
    display: flex;
    width: 47.5%;
    margin-left: 2.5%;
    letter-spacing: 1px;
    font-size: 13px;
    justify-content: space-between;
}

.back{
    border-top: 10vh;
    width: 100%;
    height: 100%;
    color: hsl(0, 0%, 100%);
    margin-left: 17.5vw;
    background: url('../images/bg-card-back.png') no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.back-num{
    width: 54.5%;
}

.data{
    margin-left: 10vw;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 400px;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.expiry{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-expiry{
    display: flex;
    gap: 15px;
}

label{
    color: hsl(278, 68%, 11%);
    font-size: 15px;
    letter-spacing: 2px;
}

input{
    height: 45px;
    padding: 10px;
    border: 2px solid hsl(270, 3%, 87%);
    color: hsl(279, 6%, 55%);
    border-radius: 5px;
}

.expiry-data{
    width: 80px;
}

.submit{
    padding: 15px;
    background: hsl(278, 68%, 11%);
    color: hsl(0, 0%, 100%);
    font-weight: 500;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
}

.submit:hover{
    cursor: pointer;
}

.postForm{
    display: none;
}